.App {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* --------------------------Header-------------------------------- */
.headerContainer {
  background-color: rgb(171, 210, 72);
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: -22px;
  padding-top: 40px;
  width: 100%;
}

/* ----------------------------- Filtros ----------------------------------*/

.inputContainer {
  background-color: rgb(90, 156, 40);
  width: 100%;
  height: 10%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
/* ------------------------------------Hotels------------------------------------- */
.hotelsContainer {
  background-color: blanchedalmond;
}
.hoteles {
  display: flex;

  flex-flow: wrap;
}

.hotelCard {
  width: 20%;
  background-color: rgb(61, 158, 158);
  height: 20%;
  padding: 5px;
  margin: 5px;
}

.img {
  max-width: 100%;
  height: auto;
}
